<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <cdk-tree-node 
    *cdkTreeNodeDef="let node" 
    cdkTreeNodePadding
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
                  class="tree-node">
     <div 
      [ngClass]="{'isSelected':node.name === inputSearchText, 'node-element': true}"
     (click)="onTreeNodeClick(node)">
      {{node.name}}
     </div>
    </cdk-tree-node>
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding
                  [style.display]="shouldRender(node) ? 'flex' : 'none'"
                  class="tree-node">
                  <div 
                  [ngClass]="{'isSelected':node.name === inputSearchText, 'node-element-parent': true}"
                  (click)="onTreeNodeClick(node)">
                  {{node.name}}
                </div>
    </cdk-tree-node>
  </cdk-tree>
